<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
    <style>
        .layer1 {
            margin-left: 0%; /* Отступ слева */
            background-color: #e8e8e8; /* Цвет фона */
            padding: 15px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<div class="layer1">
    <br/>
    <div style="text-align: center;"><strong>Страница поиска</strong></div>
    <div style="text-align: center;"><i>/books/search</i></div>
    <br/>
    <br/>
    <form th:method="POST" th:action="@{/books/search}">
        <label for="query">Введи запрос : </label>
        <input type="text" id="query" name="query"/>
        <input type="submit" value="Искать!"/>
    </form>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <span><strong>Книг не найдено.</strong></span>
        </div>
        <div th:each="book : ${books}">
            <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

            <div th:if="${book.getPerson() != null}">
                <div style="text-align: left;"><a th:href="@{/people/{id}(id=${book.getPerson().getUserId()})}"
                                                  th:text="${'Книга сейчас у: ' + book.getPerson().getName() + ', ' + book.getPerson().getAge()}">person</a>
                </div>
            </div>
            <div th:if="${book.getPerson() == null}">
                <span>Это книга свободна.</span>
            </div>
        </div>
        <hr/>
    </div>
</div>
</body>
</html>