html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e8e3e3;
}

.img-fluid {
    max-width: 50%;
    size: 300px;
    height: auto;
}

.figure {
    max-width: 50%;
}


